$slide-width: 85%;

@mixin breakpoint() {
  @media screen and (max-width: 1300px) {
    & {
      @content;
    }
  }
}
:local(.swipe-box-wrapper) {
  .swiper-slide {
    width: $slide-width;
  }
}
:local(.container) {
  @apply pb-[140px] bg-cover;

  background-image: url(https://pub.lbkrs.com/files/202205/FKyFqs57BsXmbiGp/_bg.png);
  // 本来 1400px 是合理的一个值，但是那个临界点会遮住翻页按钮
  @media screen and (min-width: 1480px) {
    .main-container {
      padding-left: calc((100% - 1280px) / 2);
    }
  }
}
:local(.example) {
  @apply flex h-full;
  .cover {
    @apply flex-1 bg-cover;
    width: 35%;
    img {
      object-fit: cover;
    }
  }
  .main {
    @apply text-white px-6 py-6 lg:px-[60px] lg:py-12 overflow-y-auto;

    flex: 1.5;
    background-color: var(--brand_color);
    .logo {
      @apply w-[60px];
    }
    .name {
      @apply text-3xl mt-4;
    }
    .desc {
      @apply mt-4 text-sm leading-[26px];
    }
    .functions {
      @apply pt-4 mt-6;
      border-top: 1px dashed #7350ff;
      table {
        @apply w-full;
        td {
          @apply py-2;
        }
      }
    }
  }
  @include breakpoint() {
    .main {
      .logo {
        @apply w-[40px];
      }
      .name {
        @apply text-2xl;
      }
      .desc {
        @apply text-xs leading-5;
      }
      .functions {
        @apply text-sm;
        td {
          @apply py-0;
        }
      }
    }
  }
}

:local(.controls) {
  .pagination {
    @apply flex justify-center absolute left-0 z-20;

    width: $slide-width;
    bottom: -60px;
  }
  .buttons {
    @apply flex justify-between items-center absolute z-20 w-full;

    top: 50%;
    left: -90px;
    width: calc(#{$slide-width} + 180px);
    transform: translateY(-50%);
  }
}
:local(.arrow) {
  @apply cursor-pointer rounded-full w-[68px] h-[68px] flex justify-center items-center;

  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 4px rgba(11, 19, 31, 0.08);
  color: #3d464c;
  &.is-left {
    transform: rotate(180deg);
  }
  &.disabled {
    @apply cursor-not-allowed;

    color: var(--disabled_color_1);
  }
  &:not(.disabled) {
    &:hover {
      color: #fff;
      opacity: 0.9;
      background-color: var(--brand_color);
    }
  }
}
