@mixin sss() {
  @media screen and (max-width: 1100px) {
    & {
      @content;
    }
  }
}
:local(.swipe-box-wrapper) {
  .swiper-slide {
    width: 80%;
  }
}
:local(.container) {
  @apply py-[100px] bg-cover;

  background-image: url(https://pub.lbkrs.com/files/202205/FKyFqs57BsXmbiGp/_bg.png);
  @media screen and (min-width: 1400px) {
    .main-container {
      padding-left: calc((100% - 1280px) / 2);
    }
  }
}
:local(.example) {
  @apply flex h-full;
  .cover {
    @apply flex-1 bg-cover;
    img {
      @apply h-full;
    }
  }
  .main {
    @apply text-white px-[60px] py-12 overflow-y-auto;

    flex: 2.7;
    background-color: var(--brand_color);
    .logo {
      @apply w-[60px];
    }
    .name {
      @apply text-3xl mt-4;
    }
    .desc {
      @apply mt-4 text-sm leading-[26px];
    }
    .functions {
      @apply pt-4 mt-6;
      border-top: 1px dashed #7350FF;
      table {
        @apply w-full;
        td {
          @apply py-2;
        }
      }
    }
  }
  @include sss() {
    .main {
      .logo {
        @apply w-[40px];
      }
      .name {
        @apply text-2xl;
      }
      .desc {
        @apply text-xs leading-5;
      }
      .functions {
        @apply text-sm;
        td {
          @apply py-0;
        }
      }
    }
  }
}

:local(.controls) {
  @apply flex justify-between items-center mt-8;
  width: 80%;
}
:local(.arrow) {
  @apply w-[42px] h-[22px] cursor-pointer;
  &.is-left {
    &:not(.disabled) {
      transform: rotate(180deg);
    }
  }
  &.disabled {
    @apply cursor-not-allowed;
    &:not(.is-left) {
      transform: rotate(180deg);
    }
  }
}
