:local(.features) {
  .feature-item {
    @apply flex items-center mt-40 last:mb-40;
    &:nth-child(2n) {
      .right {
        order: -1;
        text-align: left;
      }
    }
    .left,
    .right {
      @apply flex-1;
    }
    .right {
      @apply text-right;
    }
    // 奇数倒转
    img {
      @apply inline-block max-w-[420px] w-2/3;
    }
    .title {
      @apply font-medium text-[40px];
    }
    .desc {
      @apply text-xl mt-6 leading-[1.7];
      color: var(--text_color_2);
    }
  }
}