:local(.navs) {
  .nav-item {
    @apply transition-all text-black font-medium;
    &.nav-item__selected,
    &:hover {
      color: var(--brand_color);
      .play-icon {
        @apply text-white;
      }
    }

    .play-icon {
      transform: translateX(-50%) translateY(-50%) scale(0.5);
    }
  }
}
:local(.header) {
  .logo-wrap {
    height: 36px;
    overflow: hidden;
    @apply flex justify-center items-center;
  }
  .logo {
    font-size: 72px;
    height: 72px;
    @media screen and (max-width: 1520px) {
      @apply mr-20;
    }
  }
}
