@import 'tailwind.css';
@import './theme.scss';

/* 中文里面文字左右对齐 */
html:not([lang='en']) {
  text-align: justify;
}
html[lang='en'] {
  @apply tracking-tighter;
}

.main-container {
  @apply px-6 xl:px-[100px];
}
.main-content-width {
  @apply max-w-[1200px] mx-auto;
}
.section-content-container {
  @apply max-w-[1920px] mx-auto;
}
html {
  font-family: PingFang SC;
  overflow-x: hidden;
}

* {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-md;
    background-color: var(--border_color);
  }
}
.text-text_brand_color {
  color: var(--brand_color);
}
.text-text_color_1_supplement {
  color: var(--text_color_1_supplement);
}
.text-section-title {
  @apply text-2xl lg:text-[40px] lg:leading-[50px] font-medium;
}
.bg-brand_color {
  background-color: var(--brand_color);
}
html {
  font-family: PingFang SC;
}

.ant-carousel .slick-dots li button {
  background: #000000;
  opacity: 0.2;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #5622cf;
}

.list-dot {
  @apply relative left-1 ml-2;

  &::after {
    content: '';
    @apply absolute w-1 h-1 bg-brand_color -left-3 top-2;
  }

  &.white {
    &::after {
      @apply bg-white;
    }
  }
}
.dot-list {
  @apply relative ml-4;
  &::after {
    content: '';
    @apply w-1 h-1 bg-[#5622CF] absolute -left-4 top-[10px];
  }
}

.round-dot-list {
  @apply relative ml-4;
  &::after {
    content: '';
    @apply w-1 h-1 rounded-full bg-[#5622CF] absolute -left-4 top-[10px];
  }
}
