:root {
  --bg_color_1: #f5f6f6;
  --bg_color_2: #f8f9fa;
  --bg_color_3: #f1f4fa;
  --bg_color_4: #ededed;
  --text_color_1_supplement: #464f56;
  --text_color_2: #82888d;
  --text_color_3: #464f56;
  --text_color_3_supplement: #afb3b6;
  --brand_color: #5622cf;
  --brand_color_2: #7350ff;
  --brand_color_3: #a495ff;
  --border_color: #eaebec;
  --border_color_1: #eaebec;
  --tag_border_color: #c7cacc;
  --divide_dot_color: var(--brand_color);
  --disabled_color_1: #777d82;
  --error_color_1: #f5222d;
  --bg_table_1: #f2f5f8;

  --bg-color: #f5f6f6;
  --front-bg-color-2: #fafafa;
  --front-bg-color-1: #ffffff;
  --front-bg-color1: #ffffff;
  --front-bg-color: #f5f6f6;
  --tag-bg-color: #f5f6f6;
  --line-color: #eaebec;
  --tag-border-color: #c7cacc;
  --text-color-3: #afb3b6;
  --text-color-2: #82888d;
  --text-color-1-supplement: #464f56;
  --text-color-1: #000000;
  --link-text-color: #37a0ff;
  --environment-text-color-3: #ffffff;
  --environment-text-color-2: #f5f6f6;
  --environment-text-color-1: #1f2a32;
  --wtt-brand-color: #5622cf;
  --brand-color: #37a0ff;
  --brand-color-2: #ff4040;
  --brand-color-3: #ffc700;
  --up-color: #ff5000;
  --down-color: #00b99a;
  --list-bg-color: #ffffff;

  /* 项目私有色，在项目中重置 */
  --private-color: #ffffff;
  --private-color-1: #ffffff;
  --private-color-2: #ffffff;
}

:root[theme='dark'] {
  --bg-color: #07121c;
  --front-bg-color-2: #141f28;
  --front-bg-color-1: #1a252e;
  --front-bg-color1: #1a252e;
  --front-bg-color: #2a343c;
  --tag-bg-color: #2a343c;
  --line-color: #384149;
  --tag-border-color: #424b53;
  --text-color-3: #61686e;
  --text-color-2: #82888d;
  --text-color-1-supplement: #cfd1d3;
  --text-color-1: #ffffff;
  --link-text-color: #37a0ff;
  --environment-text-color-3: #ffffff;
  --environment-text-color-2: #f5f6f6;
  --environment-text-color-1: #1f2a32;
  --wtt-brand-color: #5622cf;
  --brand-color: #37a0ff;
  --brand-color-2: #ff4040;
  --brand-color-3: #ffc700;
  --up-color: #ff5000;
  --down-color: #00b99a;
  --list-bg-color: #2a343c;

  /* 项目私有色，在项目中重置 */
  --private-color: #ffffff;
  --private-color-1: #ffffff;
  --private-color-2: #ffffff;
}
