:root {
  --bg_color_1: #F5F6F6;
  --bg_color_4: #ededed;
  --text_color_1_supplement: #464F56;
  --brand_color: #5622CF;
  --brand_color_2: #7350FF;
  --text_color_2: #82888D;
  --border_color: #EAEBEC;
  --tag_border_color: #C7CACC;
  --border_color_1: #EAEBEC;
  --text_color_3: #464F56;
  --bg_color_2: #F8F9FA;
  --bg_color_3: #F1F4FA;
  --divide_dot_color: var(--brand_color);
  --disabled_color_1: #777d82;
  --error_color_1: #f5222d;
  --bg_table_1:#F2F5F8;
  --text_color_3:#AFB3B6;
}
